@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin subheader {
    margin: 0;
    font-size: 1rem;
}

@mixin heading-text {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10rem;
}

@mixin main-title {
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
}

@mixin sub-title {
    font-size: 1.7rem;
}

// MEDIA QUERIES

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content
        }

        ; //600
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }

        ; //900
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content
        }

        ; //1200
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            @content
        }

        ; //1800
    }
}