@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin subheader {
    margin: 0;
    font-size: 1rem;
}

@mixin heading-text {
     text-align: center;
     text-transform: uppercase;
     margin-top: 10rem;
}

