.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 9rem !important;
}

.u-margin-top-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-bigger {
  margin-bottom: 10rem !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav__logo {
  width: 4rem;
}

.nav__menu-icons i {
  font-size: 3.5rem;
  color: #000;
  cursor: pointer;
}

.close i {
  color: #FF5D96;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav__list {
  width: 25rem;
  height: 100vh;
  background-color: #a2aeac;
  position: fixed;
  top: 0;
  right: -26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
  -webkit-transition: all 650ms ease-in-out;
  -moz-transition: all 650ms ease-in-out;
  -ms-transition: all 650ms ease-in-out;
  -o-transition: all 650ms ease-in-out;
}

.nav__list.active {
  right: 0;
}

.nav__item {
  margin: 1.5rem 0;
}

.nav__link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__image-main {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(87, 48, 178, 0.9) 0%, rgba(255, 93, 150, 0.8) 100%), url("../img/covidppl.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.header__image-main::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.7rem;
  background: url("../img/wave-small.png") center no-repeat;
  background-size: cover;
}

.header__main {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%);
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
}

.header__text-main {
  font-family: 'Aldrich', sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
}

.header__text-sub h3 {
  font-size: 1.6rem;
}

.header__text-p {
  text-transform: lowercase;
}

.btn {
  background-color: #5730B2;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  color: #FF5D96;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
  -webkit-transition: background-color 650ms;
  -moz-transition: background-color 650ms;
  -ms-transition: background-color 650ms;
  -o-transition: background-color 650ms;
}

.btn:hover {
  background-color: #fee6e2;
}

.prevention {
  padding: 0;
}

.prevention__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
  color: rgba(0, 0, 0, 0.7);
}

.prevention__title p {
  text-transform: lowercase;
}

.prevention__title-sub {
  font-size: 1.4rem;
}

.prevention__title-main {
  font-family: 'Aldrich', sans-serif;
  font-size: 2rem;
  margin: .5rem 0 1rem;
}

.prevention__image {
  width: 5rem;
  height: 5rem;
}

.prevention__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.prevention__grid-item {
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.prevention__grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(87, 48, 178, 0.9) 0%, rgba(255, 93, 150, 0.8) 100%);
  z-index: -1;
}

.star-gazing {
  background: url("../img/swirlstars.jpg") center no-repeat;
}

.tracker {
  z-index: 1;
  width: 70%;
  margin: 0 auto;
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
  padding: 2%;
}

.tracker__board {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.tracker__board-cardheader {
  margin: 0;
  font-size: 1rem;
}

.card {
  width: 84%;
  background: #003F5A;
  padding: 8%;
  margin-bottom: 20%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #fff;
  -webkit-box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);
}

.card-one {
  background: #FF5D96;
}

.card-two {
  background: #5730B2;
}

.card-three {
  background: #93c0bd;
}

.card-four {
  background: #FF5D96;
}

.card-five {
  background: #5730B2;
}

.card-six {
  background: #93c0bd;
}

.card i {
  font-size: 3rem;
  color: #000;
}

span {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (max-width: 900px) {
  .tracker__board {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .card span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .tracker__board {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .card span {
    font-size: 1rem;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .tracker__board {
    -webkit-column-count: 1;
            column-count: 1;
  }
}
/*# sourceMappingURL=styles.css.map */