.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 9rem !important;
}

.u-margin-top-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-bigger {
  margin-bottom: 10rem !important;
}

footer {
  padding: 2.5rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 93, 150, 0.8)), to(rgba(54, 17, 52, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(255, 93, 150, 0.8), rgba(54, 17, 52, 0.8));
  text-align: center;
  color: #fee6e2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  background-color: #fee6e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav__logo {
  width: 5rem;
}

.nav__menu-icons i {
  font-size: 3.5rem;
  color: #000;
  cursor: pointer;
}

.close i {
  color: #FF5D96;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav__list {
  width: 25rem;
  height: 100vh;
  background-color: #fee6e2;
  position: fixed;
  top: 0;
  right: -26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
  -webkit-transition: all 650ms ease-in-out;
  -moz-transition: all 650ms ease-in-out;
  -ms-transition: all 650ms ease-in-out;
  -o-transition: all 650ms ease-in-out;
}

.nav__list.active {
  right: 0;
}

.nav__item {
  margin: 1.5rem 0;
}

.nav__link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 700px) {
  .nav__logo {
    width: 3.5rem;
  }
  .nav__list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    transition: initial;
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial;
  }
  .nav__menu-icons {
    display: none;
  }
  .nav__item {
    margin: 0 2.5rem;
  }
  .nav__link,
  .current {
    color: #fee6e2;
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .nav__link::before,
  .current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: #93c0bd;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 650ms;
    transition: -webkit-transform 650ms;
    transition: transform 650ms;
    transition: transform 650ms, -webkit-transform 650ms;
    -webkit-transition: transform 650ms;
    -moz-transition: transform 650ms;
    -ms-transition: transform 650ms;
    -o-transition: transform 650ms;
  }
  .current::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  .nav__link:hover::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}

.header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__image-main {
  width: 100%;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 93, 150, 0.8)), to(rgba(54, 17, 52, 0.8))), url(../img/covidppl.jpg);
  background-image: linear-gradient(to right bottom, rgba(255, 93, 150, 0.8), rgba(54, 17, 52, 0.8)), url(../img/covidppl.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__main {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%);
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
}

.header__text-main {
  font-family: 'Aldrich', sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
}

.header__text-sub h3 {
  font-size: 1.6rem;
}

.header__text-p {
  text-transform: lowercase;
  word-wrap: break-word;
}

.btn {
  background-color: #5730B2;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  color: #EA3788;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
  -webkit-transition: background-color 650ms;
  -moz-transition: background-color 650ms;
  -ms-transition: background-color 650ms;
  -o-transition: background-color 650ms;
}

.btn:hover {
  background-color: #F7A1C4;
}

@media screen and (min-width: 320px) {
  .header__main {
    transform: translateY(40%);
    -webkit-transform: translateY(40%);
    -moz-transform: translateY(40%);
    -ms-transform: translateY(40%);
    -o-transform: translateY(40%);
  }
}

@media screen and (min-width: 470px) {
  .header__image-main:before {
    height: 9.4rem;
    background: url("../img/wave-medium.png");
    background-size: cover;
  }
}

@media screen and (min-width: 700px) {
  .header {
    height: 8rem;
  }
}

.prevention {
  padding: 25rem 0;
  margin-top: -45vh;
}

.prevention__title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 13rem;
  color: rgba(0, 0, 0, 0.7);
}

.prevention__title-sub {
  font-size: 1.7rem;
}

.prevention__title-main {
  font-family: 'Aldrich', sans-serif;
  font-size: 3rem;
}

.prevention__text {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.prevention__text::before {
  content: "\2022";
  color: #FF5D96;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.prevention__image {
  width: 8rem;
  height: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prevention__image.boy {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 3px solid #FF5D96;
}

.prevention__title-sub-third {
  font-size: 'Aldrich', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem 0;
  color: #F7A1C4;
}

.prevention__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.prevention__grid-item {
  height: 30rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.prevention__grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(87, 48, 178, 0.9) 50%, rgba(255, 93, 150, 0.8) 100%);
  z-index: -1;
}

.star-gazing {
  background: url("../img/swirlstars.jpg") center no-repeat;
}

@media screen and (min-width: 468px) {
  .prevention__title {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 922px) {
  .prevention__title {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 768px) {
  .prevention__title {
    margin-top: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .prevention__title {
    margin-top: 30rem;
  }
}

.resource {
  margin-bottom: 2rem;
  padding: 25rem 0;
  margin-top: -45vh;
}

.resource__title {
  font-size: 'Lato',sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2rem 0;
  color: #003F5A;
  border-bottom: 1px solid #361134;
}

.resource__link {
  font-size: 1.7rem;
}

.resource__link::before {
  content: "\2022";
  color: #FF5D96;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.timeline ul {
  border-left: 4px solid #9b5de5;
  border-radius: .8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .timeline ul {
    margin: 0 0 0 auto;
  }
}

.tracker {
  width: 100%;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 93, 150, 0.8)), to(rgba(54, 17, 52, 0.8))), url(../img/friendsforever.jpg);
  background-image: linear-gradient(to right bottom, rgba(255, 93, 150, 0.8), rgba(54, 17, 52, 0.8)), url(../img/friendsforever.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  margin-top: -10vh;
}

.tracker__title {
  text-align: center;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.7);
}

.tracker__title-main {
  font-family: 'Aldrich', sans-serif;
  font-size: 3rem;
}

.tracker__title-sub {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.tracker__main {
  z-index: 1;
  width: 70%;
  margin: 0 auto;
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
  padding: 2%;
}

.tracker__board {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.tracker__board-cardheader {
  margin: 0;
  font-size: 1rem;
}

.card {
  width: 84%;
  background: #003F5A;
  padding: 8%;
  margin-bottom: 20%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #fff;
  -webkit-box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);
}

.card-one {
  background: #FF5D96;
}

.card-two {
  background: #5730B2;
}

.card-three {
  background: #93c0bd;
}

.card-four {
  background: #FF5D96;
}

.card-five {
  background: #5730B2;
}

.card-six {
  background: #93c0bd;
}

.card i {
  font-size: 3rem;
  color: #000;
}

span {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (max-width: 900px) {
  .tracker__board {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .card span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .tracker__board {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .tracker__title {
    margin-top: 1px;
  }
  .card span {
    font-size: 1rem;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .tracker__board {
    -webkit-column-count: 2;
            column-count: 2;
  }
}
/*# sourceMappingURL=styles.css.map */