.prevention {
     padding: 25rem 0;
     margin-top: -45vh;
}

.prevention__title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 13rem;
    color: rgba(0, 0, 0, .7);
}

.prevention__title-sub {
    @include sub-title;
}

.prevention__title-main {
 @include main-title;
}

.prevention__text {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.prevention__image {
    width: 8rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &.boy {
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border: 3px solid $color-menu-close;
    }
}

.prevention__title-sub-third {
    font-size: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0;
    color: $color-btn-footer;
    
}

// creating a grid that collapses when there isn't enough space. eliminating the need for media queries
.prevention__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.prevention__grid-item {
    height: 30rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.prevention__grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba($color-top-header, 0.9) 50%, rgba($color-menu-close, 0.8) 100%);
    z-index: -1;
}

.star-gazing {
    background: url("../img/swirlstars.jpg") center no-repeat;
}

// MEDIA QUERIES
@media screen and (max-width: 468px) {
    .prevention__title {
        margin-top: 10rem;
    }
}

    @media screen and (max-width: 900px){
        .prevention__title {
            margin-top: 13rem;
        }

    }

@media screen and (max-width: 1024px) {
    .prevention__title {
        margin-top: 30rem;
    }
}