.tracker {
    z-index: 1;
    width: 70%;
    margin: 0 auto;
    border-radius: 2.4rem;
    -webkit-border-radius: 2.4rem;
    -moz-border-radius: 2.4rem;
    -ms-border-radius: 2.4rem;
    -o-border-radius: 2.4rem;
    padding: 2%;
    

}

.tracker__board {
    column-count: 3;
    column-gap: 1rem;
}

.tracker__board-cardheader {
    @include subheader 
    
}

.card {
    width: 84%;
    background: $color-primary-dark;
    padding: 8%;
    margin-bottom: 20%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: $color-white;
     box-shadow: 0px 10px 6px -8px rgba(0, 0, 0, 0.75);

}

.card-one {
    background: $color-menu-close;
}

.card-two {
    background: $color-top-header;
}

.card-three {
    background: $color-opal;
}

.card-four {
    background: $color-menu-close;
}

.card-five {
    background: $color-top-header;
}

.card-six {
    background: $color-opal;
}

.card i {
    font-size: 3rem;
    color: $color-black;
}

span {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: white;
        
    }

    // MEDIA QUERIES 


@media screen and (max-width: 900px) {
    .tracker__board {
        column-count: 2;
    }
    
    .card span {
        font-size: 1rem;

    }
}
@media screen and (max-width: 768px) {
    .tracker__board {
        column-count: 2;
    }
    
    .card span {
        font-size: 1rem;
        padding: 10px;

    }
}

@media screen and (max-width: 500px) {
    .tracker__board {
        column-count: 1;
    }
}