footer {
    padding: 2.5rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-menu-close, 0.8), rgba($color-btn-title, 0.8));
    text-align: center;
    color: $color-misty-rose;
    // color: rgba(0,0,0,.7);
}