.header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__image-main {
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba($color-menu-close, 0.9) 0%, rgba($color-top-header, 0.8) 100%),url("../img/covidppl.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.header__image-main::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.7rem;
    background: url("../img/wave-small.png") center no-repeat;
    background-size: cover;
}

.header__main {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
}

.header__text-main {
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.header__text-sub h3 {
    font-size: 1.6rem;
}

.header__text-p {
    text-transform: lowercase;
}

.btn {
    background-color: $color-top-header;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    color: $color-footer-btn;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    -webkit-transition: background-color 650ms;
    -moz-transition: background-color 650ms;
    -ms-transition: background-color 650ms;
    -o-transition: background-color 650ms;

    &:hover {
        background-color: $color-btn-footer;
    }
}


