.header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__image-main {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-menu-close, 0.8), rgba($color-btn-title, 0.8)),
        url(../img/covidppl.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

}

.header__main {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
}

.header__text-main {
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.header__text-sub h3 {
    font-size: 1.6rem;
}

.header__text-p {
    text-transform: lowercase;
    word-wrap: break-word;
}

.btn {
    background-color: $color-top-header;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    color: $color-footer-btn;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    -webkit-transition: background-color 650ms;
    -moz-transition: background-color 650ms;
    -ms-transition: background-color 650ms;
    -o-transition: background-color 650ms;

    &:hover {
        background-color: $color-btn-footer;
    }
}


// media queries

@media screen and (min-width: 320px) {
    .header__main {
        transform: translateY(40%);
        -webkit-transform: translateY(40%);
        -moz-transform: translateY(40%);
        -ms-transform: translateY(40%);
        -o-transform: translateY(40%);
    }
}

@media screen and (min-width: 470px) {
    .header__image-main:before {
        height: 9.4rem;
        background: url("../img/wave-medium.png");
        background-size: cover;
    }
}

@media screen and (min-width: 700px) {
    .header {
        height: 8rem;
    }

}